<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hdi.hdi.dao.HDCompoundMapper" >
  <resultMap id="BaseResultMap" type="com.hdi.hdi.pojo.HDCompound" >
    <constructor >
      <idArg column="hd_acmpd_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="drug_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="herb_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="acmpd_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="source" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    hd_acmpd_id, drug_id, herb_id, acmpd_id, source, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from hd_compound
    where hd_acmpd_id = #{hdAcmpdId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from hd_compound
    where hd_acmpd_id = #{hdAcmpdId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hdi.hdi.pojo.HDCompound" >
    insert into hd_compound (hd_acmpd_id, drug_id, herb_id,
      acmpd_id, source, create_time,
      update_time)
    values (#{hdAcmpdId,jdbcType=VARCHAR}, #{drugId,jdbcType=VARCHAR}, #{herbId,jdbcType=VARCHAR},
      #{acmpdId,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hdi.hdi.pojo.HDCompound" >
    insert into hd_compound
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="hdAcmpdId != null" >
        hd_acmpd_id,
      </if>
      <if test="drugId != null" >
        drug_id,
      </if>
      <if test="herbId != null" >
        herb_id,
      </if>
      <if test="acmpdId != null" >
        acmpd_id,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="hdAcmpdId != null" >
        #{hdAcmpdId,jdbcType=VARCHAR},
      </if>
      <if test="drugId != null" >
        #{drugId,jdbcType=VARCHAR},
      </if>
      <if test="herbId != null" >
        #{herbId,jdbcType=VARCHAR},
      </if>
      <if test="acmpdId != null" >
        #{acmpdId,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hdi.hdi.pojo.HDCompound" >
    update hd_compound
    <set >
      <if test="drugId != null" >
        drug_id = #{drugId,jdbcType=VARCHAR},
      </if>
      <if test="herbId != null" >
        herb_id = #{herbId,jdbcType=VARCHAR},
      </if>
      <if test="acmpdId != null" >
        acmpd_id = #{acmpdId,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where hd_acmpd_id = #{hdAcmpdId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hdi.hdi.pojo.HDCompound" >
    update hd_compound
    set drug_id = #{drugId,jdbcType=VARCHAR},
      herb_id = #{herbId,jdbcType=VARCHAR},
      acmpd_id = #{acmpdId,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where hd_acmpd_id = #{hdAcmpdId,jdbcType=VARCHAR}
  </update>



  <select id="selectId" parameterType="string" resultType="map">
    SELECT
    drug_id , herb_id
    from hd_compound
    where acmpd_id = #{acmpdId}
  </select>

  <select id="selectAcmpdId" parameterType="string" resultType="string">
    SELECT
    acmpd_id
    from hd_compound
    where herb_id = #{herbId}
  </select>

  <select id="selectAcmpdIdByDrugId" parameterType="string" resultType="string">
    SELECT
    acmpd_id
    from hd_compound
    where drug_id = #{drugId}
  </select>

</mapper>